<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Health Track</title>
</head>
<body>
    <div class="register-parent">
        <div class="register">
            <div class="register-title">
                <img src="../images/cardiogram.webp" alt="">
                <h2>Health Track</h2>
            </div>
            <form>
                <div class="form-group">
                    <label for="nome" >Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome completo">
                </div>
                <div class="form-group">
                    <label for="age" >Idade</label>
                    <input type="text" class="form-control" id="age" placeholder="Idade">
                </div>
                <div class="form-group">
                    <label for="genero" >Gênero</label>
                    <select class="form-control" id="genero">
                        <option>Masculino</option>
                        <option>Feminino</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="email" >Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Digite seu email">
                </div>
                <div class="form-group">
                    <label for="senha" >Senha</label>
                    <input type="password" class="form-control" id="senha" placeholder="Senha">
                </div>
                <button type="submit" class="btn">Cadastrar</button>
            </form>
        </div>
    </div>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
</body>
</html>